.Container{
    width: 100%;
    height: 100vh;
    background-color:burlywood;
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column;

}
.Calculater{
    width:30%;
    height: 450px;
  
    background-color: cadetblue;
}
.display input{
    width: 250px;
    height: 50px;
    border: none;
    outline: 0;
    font-size: 20px;
}
.display{

    display: flex;
    justify-content: center;
    padding: 10px 0;
}
.buttons .number1 input {
    width: 60px;
    height: 50px;
    font-size: 20px;
    
    
}
.buttons .number2 input{
    width: 60px;
    height: 50px;
    font-size: 20px;
    
}
.buttons .number3 input{
    width: 60px;
    height: 50px;
    font-size: 20px;
    
}
.buttons .number4 input{
    width: 60px;
    height: 50px;
    font-size: 20px;
    
}
.buttons .number5 input{
    width: 60px;
    height: 50px;
    font-size: 20px;
    
}

.buttons{
    padding: 30px 10px;
    gap: 10px;
    
}